html{
    font-size: 100%;
    box-sizing: border-box;

    
}
* , *::before, *::after{
    box-sizing: inherit;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    font-weight: 300;
    margin: 0;
    
}
h1,h2,h3{
    margin: 0;
    font-weight: 300;
}
h2{
    font-size: 2.25rem;;
}
ul
{
list-style: none;
padding: 0;
margin: 0;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    background-color:aliceblue;
}
.block_center{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;

    &-ai-c{
        align-items: center;
    }

    &-jc-c{
        justify-content: center;
    }
   
    &-jc-sb{
        justify-content:space-between;
    }
    &-jc-sa{
        justify-content:space-around;
    }

}
.margin{

    padding-left: 7rem;
    padding-right:7rem;
    @include breakpoint-down($tablet){
        padding-left: 3rem;
        padding-right:3rem;
    }
    
}

button.btn{

    border: none;
    border-radius: 2.5rem;
    padding: 0.9375rem 2.5rem ;
    color:white;
    font-size:$font-sm ;
    background-image: linear-gradient(to right, $limeGreen, $brightCyan);
    cursor: pointer;
    transition: all 200ms ease-in-out;
    
}

button.btn:hover{
    opacity: 50%;
}

.hide-for-mobile{
    @include breakpoint-down($mobile){
        display: none;
    }
}
.hide-for-desktop{
    @include breakpoint-up($mobile){
        display: none;
    }
}
.mobile-menu-transition{
    @include breakpoint-down($mobile){
        position: absolute;
        top: -100px;
        transition: all 300ms ease-in-out;
    }
}