html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  font-weight: 300;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 300;
}

h2 {
  font-size: 2.25rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  background-color: aliceblue;
}

.block_center {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.margin {
  padding-left: 7rem;
  padding-right: 7rem;
}

@media (max-width: 1095px) {
  .margin {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

button.btn {
  border: none;
  border-radius: 2.5rem;
  padding: 0.9375rem 2.5rem;
  color: white;
  font-size: 0.875rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

button.btn:hover {
  opacity: 50%;
}

@media (max-width: 850px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 850px) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 850px) {
  .mobile-menu-transition {
    position: absolute;
    top: -100px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.header {
  background-color: white;
  font-size: 0.875rem;
}

.header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  position: relative;
  z-index: 10;
}

.header__menu_links ul :not(:last-child) {
  margin-right: 1.875rem;
}

.header__menu_links li {
  position: relative;
  display: inline;
}

.header__menu_links a {
  position: relative;
  color: #9698a6;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__menu_links a:hover :first-child {
  color: #2d314d;
}

.header__menu_links a:hover::before {
  width: 100%;
}

.header__menu_links a::before {
  content: "";
  position: absolute;
  bottom: -2rem;
  width: 0%;
  height: 5px;
  background-color: #2bb7da;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.header__burger > * {
  background-color: #2d314d;
  height: 2px;
  width: 18px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__burger > *:not(:last-child) {
  margin-bottom: 6px;
}

.header .overlay {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
  z-index: 1;
}

.header.open .header__burger > :first-child {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.header.open .header__burger > :nth-child(2) {
  opacity: 0;
}

.header.open .header__burger > :last-child {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
}

.header.open .overlay {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.header.open .header__menu_links {
  position: absolute;
  border-radius: 3px;
  top: 4.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.header.open .header__menu_links ul {
  display: block;
}

.header.open .header__menu_links li {
  padding: 20px 0;
  display: block;
  text-align: center;
  margin: 0;
}

.header.open .header__menu_links li::before {
  display: none;
}

.header.open .header__menu_links a::before {
  visibility: hidden;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fafafa;
  height: 650px;
}

@media (max-width: 850px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.hero_text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-top: 12.5rem;
}

@media (max-width: 850px) {
  .hero_text {
    margin-top: 0;
    margin-bottom: 3.125rem;
    text-align: center;
  }
}

.hero_text h1 {
  color: #2d314d;
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 4.15rem;
}

.hero_text p {
  color: #9698a6;
  margin-bottom: 1.875rem;
  line-height: 1.25rem;
}

.hero_img {
  position: relative;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 750px;
  width: 50%;
  /*div{
            height: 100%;
            background-color: $limeGreen;
            position: relative;
           
        }*/
  /*.mockup{
            position:absolute;
            top: -2.875px;
            
            transform: translateX(12.5rem);
            @include breakpoint-down($mobile){
                top: -50px;
                height: 100%;
                transform:translateX(-50%);
                left:50%;
                
            }
            overflow-x: hidden;
        }*/
}

@media (max-width: 850px) {
  .hero_img {
    position: relative;
    width: 100%;
  }
}

.hero_img .mockup {
  position: absolute;
  top: -172px;
}

@media (max-width: 850px) {
  .hero_img .mockup {
    position: absolute;
    left: 50%;
    height: 95%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.hero_img .container {
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 850px) {
  .hero_img .container {
    position: relative;
  }
}

.hero_img .desktop_svg {
  margin-top: -16rem;
}

.hero_img .mobile_svg {
  width: 100%;
}

.articles {
  font-family: 'Public Sans', sans-serif;
  background-color: #f3f4f6;
  padding-bottom: 2.5rem;
}

@media (max-width: 850px) {
  .articles {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.articles_head {
  padding-top: 6.25rem;
  width: 60%;
}

@media (max-width: 850px) {
  .articles_head {
    width: 100%;
  }
}

.articles_head h2 {
  color: #2d314d;
}

.articles_head p {
  color: #9698a6;
  line-height: 1.5rem;
}

@media (min-width: 850px) {
  .articles_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.articles_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 2rem;
}

.articles_icon {
  padding: 2.5rem;
}

.articles_text h3 {
  color: #2d314d;
  font-size: 1.5rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

.articles_text p {
  color: #9698a6;
  line-height: 1.40rem;
  font-size: 0.875rem;
}

.last_article {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fafafa;
}

.last_article h2 {
  padding: 40px 0;
  color: #2d314d;
}

.last_article_grid {
  background-color: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

@media (max-width: 1095px) {
  .last_article_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .last_article_grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.last_article_item {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.last_article_item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.last_article_image {
  height: 12.5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.last_article_text {
  padding: 20px;
  color: #9698a6;
}

.last_article_text h4 {
  font-size: 10px;
}

.last_article_text h3 {
  color: #2d314d;
}

.last_article_text p {
  font-size: 0.81rem;
}

.footer {
  background-color: #2d314d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1095px) {
  .footer {
    display: block;
  }
}

.footer_logos {
  padding-top: 3.125rem;
}

@media (max-width: 1095px) {
  .footer_logos {
    padding-top: 3.125rem;
    padding-right: 0;
    text-align: center;
  }
}

.footer_logo {
  margin-bottom: 2.5rem;
}

.footer_logo img {
  height: 1.25rem;
}

.footer_social_media_logo {
  /*
        svg{
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            padding-right: 1.875rem;

            
        }*/
}

.footer_social_media_logo :not(:last-child) {
  margin-right: 1.875rem;
}

.footer_social_media_logo a {
  height: 20px;
  width: 20px;
}

.footer_social_media_logo a path {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.footer_social_media_logo a:hover svg path {
  fill: #31d35c;
}

@media (max-width: 1095px) {
  .footer_info {
    padding-bottom: 1.875rem;
    text-align: center;
  }
}

.footer_info ul {
  padding-top: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1095px) {
  .footer_info ul {
    display: block;
  }
}

.footer_info a {
  padding-top: 1.25rem;
  padding-right: 3.75rem;
  color: white;
  font-size: 1rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.footer_info a:hover {
  color: #31d35c;
}

.footer_btn_rights {
  padding-top: 2.5rem;
}

@media (max-width: 1095px) {
  .footer_btn_rights {
    padding: 0;
    text-align: center;
  }
}

.footer_btn_rights h4 {
  padding-top: 1.875rem;
  color: #9698a6;
  font-size: small;
}

.creater {
  margin: 0;
  text-align: center;
  background-color: #2d314d;
  color: white;
  font-size: 0.875rem;
  padding: 3.125rem;
}

@media (max-width: 1095px) {
  .creater {
    padding: 1.875rem;
  }
}
/*# sourceMappingURL=style.css.map */